# See http://help.github.com/ignore-files/ for more about ignoring files.

# project specific
**/git.version.ts

# dependency assets
projects/admin/src/assets/flag
projects/admin/src/assets/icon
projects/admin/src/assets/worker

projects/front/src/assets/flag
projects/front/src/assets/icon
projects/front/src/assets/worker

# compiled output
/dist
/tmp
/out-tsc

# node dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
**/*-old*/**

