<h1>
  Angular 2 WebSockets
</h1>

<div class="container">
  <div class="header">
      <mat-form-field>
          <input matInput placeholder="Name" type="text" [(ngModel)]="user">
        </mat-form-field>
  </div>

  <div *ngIf="!!user" #viewer class="body">
      <div class="viewer">
        <div class="message" *ngFor="let msg of serverMessages">
          <div class="badge" style.backgroundColor="blue">{{ getSenderInitials(msg.sender) }}</div>
          <div class="content">
            <!-- <i *ngIf="msg.isBroadcast" class="material-icons">speaker_phone</i> -->
            <span>{{ msg.content }}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!!user" class="footer">
        <form (submit)="sendMsg()">
          <mat-form-field>
            <input name="clientMessage" matInput placeholder="Write a message" type="text" [(ngModel)]="clientMessage">
          </mat-form-field>
          <button mat-fab type="submit">
            <i class="material-icons">send</i>
          </button>
          <button mat-fab (click)="toggleIsBroadcast()" type="button" [ngClass]="{'disabled': !isBroadcast}">
            <!-- <i class="material-icons">speaker_phone</i> -->
          </button>
        </form>
      </div>

</div>
